@model ismailaktasblog.Entities.SifreSifirlaVM
@{
    ViewData["Title"] = "Şifremi Unuttum";
}<div class="login">
    <div class="ia_login_cart">
        <span class="ia_login_title">Şifre Sıfırlama</span>
        <form asp-controller="Account" asp-action="SifremiUnuttum" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Email" class="ia_login_input" placeholder="E posta" />
            <button type="submit" class="ia_btn_login">Gönder</button>
        </form>
    </div>
</div>