@{
    ViewData["Title"] = "Hakkımda";
}
<div class="ia_about">
    <span class="ia_tittle">Ben Kimim?</span>
    <p>
        1999 Yılında Iğdır'da doğdum. 2021 yılında bilgisayar programcılığı bölümünden mezun oldum ve yazılım ile uğraşıyorum. Bu siteyi kurma amacım: Edindiğim bilgileri bazılarını benim gibi yazılımla uğraşan insanlarla paylaşmak ve bilgiyi yaymak.
    </p>
</div>
